<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perform Operation</title>

    <style>
        .info {
            background-color: #2ab7ca;
            border:none;
            color: #fff;
            border-radius: 4px;
             font-size: medium;
            padding: 0.5rem 1.5rem;
        }
    </style>
</head>
<body>

    <h1>Perform {{ op }} Operation</h1>
    <hr>

    <form name="home-form" method="POST" action=''>
        <h3>Enter First Number: </h3> <input type="number" name="first_number"> <br>
        <h3>Enter Second Number: </h3><input type="number" name="second_number"> <br><br>
        <button class="info" type="submit">Get Results</button>
    </form>
    
</body>
</html>